---

---

<section class="h-screen w-full">
  <div class="container h-full flex items-center justify-around">
    <div id="0" class="box-hability">
      <svg
        width="156"
        height="120"
        viewBox="0 0 156 180"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M142.138 14.8965H13.0344V165.103H142.138V14.8965Z"
          fill="#2F2E41"></path>
        <path d="M155.172 0H0V53.3793H155.172V0Z" fill="#3F3D56"></path>
        <path d="M155.172 63.3103H0V116.69H155.172V63.3103Z" fill="#3F3D56"
        ></path>
        <path d="M155.172 126.621H0V180H155.172V126.621Z" fill="#3F3D56"></path>
        <path
          opacity="0.4"
          d="M124.38 3.72414H114.449V13.6552H124.38V3.72414Z"
          fill="black"></path>
        <path
          opacity="0.8"
          d="M138.656 3.72414H128.725V13.6552H138.656V3.72414Z"
          fill="black"></path>
        <path d="M152.932 3.72414H143.001V13.6552H152.932V3.72414Z" fill="black"
        ></path>
        <path
          opacity="0.4"
          d="M124.38 67.0345H114.449V76.9655H124.38V67.0345Z"
          fill="black"></path>
        <path
          opacity="0.8"
          d="M138.656 67.0345H128.725V76.9655H138.656V67.0345Z"
          fill="black"></path>
        <path d="M152.932 67.0345H143.001V76.9655H152.932V67.0345Z" fill="black"
        ></path>
        <path
          opacity="0.4"
          d="M124.38 130.345H114.449V140.276H124.38V130.345Z"
          fill="black"></path>
        <path
          opacity="0.8"
          d="M138.656 130.345H128.725V140.276H138.656V130.345Z"
          fill="black"></path>
        <path d="M152.932 130.345H143.001V140.276H152.932V130.345Z" fill="black"
        ></path>
        <path
          d="M155.415 21.7241H0.242676V31.6552H155.415V21.7241Z"
          fill="black"></path>
        <path
          d="M155.415 85.0345H0.242676V94.9655H155.415V85.0345Z"
          fill="black"></path>
        <path
          d="M155.415 148.345H0.242676V158.276H155.415V148.345Z"
          fill="black"></path>
      </svg>
    </div>
    <div id="1" class="box-hability">
      <svg
        width="200"
        height="120"
        viewBox="0 0 200 118"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M184.145 1.44407H114.082V0H82.312V1.44407H11.9597C11.3374 1.44407 10.7211 1.56665 10.1461 1.80482C9.57109 2.04299 9.04864 2.39209 8.60856 2.83217C8.16848 3.27225 7.81938 3.7947 7.58121 4.3697C7.34304 4.94469 7.22046 5.56097 7.22046 6.18334V102.122C7.22046 103.379 7.71977 104.584 8.60856 105.473C9.49734 106.362 10.7028 106.861 11.9597 106.861H184.145C185.402 106.861 186.607 106.362 187.496 105.473C188.385 104.584 188.884 103.379 188.884 102.122V6.18334C188.884 5.56097 188.762 4.94469 188.524 4.3697C188.285 3.7947 187.936 3.27225 187.496 2.83217C187.056 2.39209 186.534 2.04299 185.959 1.80482C185.384 1.56665 184.767 1.44407 184.145 1.44407Z"
          fill="#3F3D56"></path>
        <path d="M182.53 9.8197H13.5742V105.128H182.53V9.8197Z" fill="black"
        ></path>
        <path
          d="M97.9077 7.22037C98.8647 7.22037 99.6406 6.44453 99.6406 5.48749C99.6406 4.53045 98.8647 3.75461 97.9077 3.75461C96.9506 3.75461 96.1748 4.53045 96.1748 5.48749C96.1748 6.44453 96.9506 7.22037 97.9077 7.22037Z"
          fill="black"></path>
        <path
          opacity="0.1"
          d="M134.212 105.128H13.5742V9.81976L134.212 105.128Z"
          fill="black"></path>
        <path
          d="M153.112 61.2203H137.33V64.5181H153.112V61.2203Z"
          fill="#3F3D56"></path>
        <path
          d="M172.192 35.5446H118.25V36.9579H172.192V35.5446Z"
          fill="#3F3D56"></path>
        <path
          d="M172.192 40.0202H118.25V41.4335H172.192V40.0202Z"
          fill="#3F3D56"></path>
        <path
          d="M172.192 44.4958H118.25V45.9091H172.192V44.4958Z"
          fill="#3F3D56"></path>
        <path
          d="M172.192 48.9713H118.25V50.3847H172.192V48.9713Z"
          fill="#3F3D56"></path>
        <path
          d="M172.192 53.4469H118.25V54.8603H172.192V53.4469Z"
          fill="#3F3D56"></path>
        <path
          d="M172.192 11.7533H165.597V18.3489H172.192V11.7533Z"
          fill="#F2F2F2"></path>
        <path
          d="M175.255 21.4111H167.246V13.4022H175.255V21.4111ZM167.594 21.0629H174.906V13.7504H167.594V21.0629Z"
          fill="#3F3D56"></path>
        <path
          d="M193.628 103.395H177.139V102.207C177.139 102.176 177.133 102.146 177.121 102.117C177.109 102.089 177.092 102.063 177.07 102.041C177.048 102.019 177.022 102.001 176.994 101.99C176.965 101.978 176.934 101.972 176.904 101.972H171.25C171.219 101.972 171.189 101.978 171.16 101.99C171.131 102.001 171.105 102.019 171.084 102.041C171.062 102.063 171.044 102.089 171.033 102.117C171.021 102.146 171.015 102.176 171.015 102.207V103.395H167.481V102.207C167.481 102.176 167.475 102.146 167.463 102.117C167.451 102.089 167.434 102.063 167.412 102.041C167.39 102.019 167.364 102.001 167.336 101.99C167.307 101.978 167.277 101.972 167.246 101.972H161.592C161.561 101.972 161.531 101.978 161.502 101.99C161.474 102.001 161.448 102.019 161.426 102.041C161.404 102.063 161.387 102.089 161.375 102.117C161.363 102.146 161.357 102.176 161.357 102.207V103.395H157.823V102.207C157.823 102.176 157.817 102.146 157.805 102.117C157.794 102.089 157.776 102.063 157.754 102.041C157.733 102.019 157.707 102.001 157.678 101.99C157.649 101.978 157.619 101.972 157.588 101.972H151.934C151.904 101.972 151.873 101.978 151.844 101.99C151.816 102.001 151.79 102.019 151.768 102.041C151.746 102.063 151.729 102.089 151.717 102.117C151.705 102.146 151.699 102.176 151.699 102.207V103.395H148.166V102.207C148.166 102.176 148.159 102.146 148.148 102.117C148.136 102.089 148.118 102.063 148.097 102.041C148.075 102.019 148.049 102.001 148.02 101.99C147.992 101.978 147.961 101.972 147.93 101.972H142.277C142.246 101.972 142.215 101.978 142.186 101.99C142.158 102.001 142.132 102.019 142.11 102.041C142.088 102.063 142.071 102.089 142.059 102.117C142.047 102.146 142.041 102.176 142.041 102.207V103.395H138.508V102.207C138.508 102.176 138.502 102.146 138.49 102.117C138.478 102.089 138.461 102.063 138.439 102.041C138.417 102.019 138.391 102.001 138.362 101.99C138.334 101.978 138.303 101.972 138.272 101.972H132.619C132.588 101.972 132.557 101.978 132.529 101.99C132.5 102.001 132.474 102.019 132.452 102.041C132.43 102.063 132.413 102.089 132.401 102.117C132.389 102.146 132.383 102.176 132.383 102.207V103.395H128.85V102.207C128.85 102.176 128.844 102.146 128.832 102.117C128.82 102.089 128.803 102.063 128.781 102.041C128.759 102.019 128.733 102.001 128.704 101.99C128.676 101.978 128.645 101.972 128.614 101.972H122.961C122.93 101.972 122.899 101.978 122.871 101.99C122.842 102.001 122.816 102.019 122.794 102.041C122.772 102.063 122.755 102.089 122.743 102.117C122.731 102.146 122.725 102.176 122.725 102.207V103.395H119.192V102.207C119.192 102.176 119.186 102.146 119.174 102.117C119.162 102.089 119.145 102.063 119.123 102.041C119.101 102.019 119.075 102.001 119.047 101.99C119.018 101.978 118.987 101.972 118.956 101.972H74.6717C74.6407 101.972 74.6101 101.978 74.5815 101.99C74.5529 102.001 74.527 102.019 74.5051 102.041C74.4832 102.063 74.4659 102.089 74.454 102.117C74.4422 102.146 74.4361 102.176 74.4361 102.207V103.395H70.9027V102.207C70.9027 102.176 70.8967 102.146 70.8848 102.117C70.873 102.089 70.8556 102.063 70.8338 102.041C70.8119 102.019 70.7859 102.001 70.7573 101.99C70.7288 101.978 70.6981 101.972 70.6672 101.972H65.0138C64.9829 101.972 64.9522 101.978 64.9237 101.99C64.8951 102.001 64.8691 102.019 64.8472 102.041C64.8254 102.063 64.808 102.089 64.7962 102.117C64.7843 102.146 64.7783 102.176 64.7783 102.207V103.395H61.2449V102.207C61.2449 102.176 61.2388 102.146 61.227 102.117C61.2151 102.089 61.1978 102.063 61.1759 102.041C61.154 102.019 61.1281 102.001 61.0995 101.99C61.0709 101.978 61.0403 101.972 61.0093 101.972H55.356C55.325 101.972 55.2944 101.978 55.2658 101.99C55.2372 102.001 55.2113 102.019 55.1894 102.041C55.1675 102.063 55.1502 102.089 55.1383 102.117C55.1265 102.146 55.1204 102.176 55.1204 102.207V103.395H51.587V102.207C51.587 102.176 51.581 102.146 51.5691 102.117C51.5573 102.089 51.5399 102.063 51.5181 102.041C51.4962 102.019 51.4702 102.001 51.4416 101.99C51.4131 101.978 51.3824 101.972 51.3515 101.972H45.6981C45.6672 101.972 45.6365 101.978 45.608 101.99C45.5794 102.001 45.5534 102.019 45.5315 102.041C45.5097 102.063 45.4923 102.089 45.4805 102.117C45.4686 102.146 45.4626 102.176 45.4626 102.207V103.395H41.9292V102.207C41.9292 102.176 41.9231 102.146 41.9113 102.117C41.8994 102.089 41.8821 102.063 41.8602 102.041C41.8383 102.019 41.8124 102.001 41.7838 101.99C41.7552 101.978 41.7246 101.972 41.6936 101.972H36.0403C36.0093 101.972 35.9787 101.978 35.9501 101.99C35.9215 102.001 35.8956 102.019 35.8737 102.041C35.8518 102.063 35.8345 102.089 35.8226 102.117C35.8108 102.146 35.8047 102.176 35.8047 102.207V103.395H32.2714V102.207C32.2714 102.176 32.2653 102.146 32.2534 102.117C32.2416 102.089 32.2242 102.063 32.2024 102.041C32.1805 102.019 32.1545 102.001 32.1259 101.99C32.0974 101.978 32.0667 101.972 32.0358 101.972H26.3824C26.3515 101.972 26.3209 101.978 26.2923 101.99C26.2637 102.001 26.2377 102.019 26.2159 102.041C26.194 102.063 26.1766 102.089 26.1648 102.117C26.153 102.146 26.1469 102.176 26.1469 102.207V103.395H22.6135V102.207C22.6135 102.176 22.6074 102.146 22.5956 102.117C22.5837 102.089 22.5664 102.063 22.5445 102.041C22.5226 102.019 22.4967 102.001 22.4681 101.99C22.4395 101.978 22.4089 101.972 22.3779 101.972H16.7246C16.6936 101.972 16.663 101.978 16.6344 101.99C16.6058 102.001 16.5799 102.019 16.558 102.041C16.5361 102.063 16.5188 102.089 16.5069 102.117C16.4951 102.146 16.489 102.176 16.489 102.207V103.395H5.65338C4.15401 103.395 2.71605 103.991 1.65584 105.051C0.595624 106.111 1.42845e-06 107.549 0 109.049V111.605C4.28535e-06 113.104 0.595628 114.542 1.65584 115.603C2.71605 116.663 4.15401 117.258 5.65338 117.258H193.628C195.127 117.258 196.565 116.663 197.626 115.603C198.686 114.542 199.281 113.104 199.281 111.605V109.049C199.281 107.549 198.686 106.111 197.626 105.051C196.565 103.991 195.127 103.395 193.628 103.395Z"
          fill="#3F3D56"></path>
        <path
          d="M199.012 47.9438H198.511V34.243C198.511 33.2016 198.305 32.1705 197.905 31.2084C197.506 30.2463 196.92 29.3722 196.182 28.6358C195.443 27.8995 194.567 27.3154 193.602 26.9169C192.637 26.5184 191.603 26.3133 190.559 26.3133H161.452C160.408 26.3133 159.374 26.5184 158.409 26.9169C157.444 27.3154 156.568 27.8995 155.829 28.6358C155.091 29.3722 154.505 30.2463 154.106 31.2084C153.706 32.1705 153.5 33.2016 153.5 34.243V109.407C153.5 110.448 153.706 111.479 154.106 112.441C154.505 113.403 155.091 114.278 155.829 115.014C156.568 115.75 157.444 116.334 158.409 116.733C159.374 117.131 160.408 117.336 161.452 117.336H190.559C191.603 117.336 192.637 117.131 193.602 116.733C194.567 116.334 195.443 115.75 196.182 115.014C196.92 114.278 197.506 113.403 197.905 112.441C198.305 111.479 198.511 110.448 198.511 109.407V57.6963H199.012V47.9438Z"
          fill="#3F3D56"></path>
        <path
          d="M196.589 34.6637V109.792C196.589 111.364 195.966 112.872 194.858 113.984C193.75 115.096 192.246 115.72 190.678 115.721H161.565C159.997 115.72 158.494 115.096 157.386 113.984C156.277 112.872 155.655 111.364 155.655 109.792V34.6637C155.655 33.0919 156.278 31.5845 157.386 30.4731C158.495 29.3616 159.998 28.7371 161.565 28.737H165.097C164.923 29.1646 164.857 29.6285 164.904 30.0878C164.951 30.5471 165.11 30.9878 165.367 31.371C165.624 31.7542 165.971 32.0682 166.377 32.2853C166.784 32.5024 167.237 32.6159 167.697 32.6159H184.296C184.757 32.6159 185.21 32.5024 185.617 32.2853C186.023 32.0682 186.37 31.7542 186.627 31.371C186.884 30.9878 187.043 30.5471 187.09 30.0878C187.137 29.6284 187.07 29.1646 186.897 28.737H190.679C192.246 28.7371 193.749 29.3616 194.857 30.4731C195.966 31.5845 196.588 33.0919 196.589 34.6637Z"
          fill="black"></path>
        <path
          d="M180.431 78.2881H171.813V80.981H180.431V78.2881Z"
          fill="#3F3D56"></path>
        <path
          d="M190.933 58.3599H161.31V59.4371H190.933V58.3599Z"
          fill="#3F3D56"></path>
        <path d="M190.933 61.5915H161.31V62.938H190.933V61.5915Z" fill="#3F3D56"
        ></path>
        <path
          d="M190.933 65.0924H161.31V66.4389H190.933V65.0924Z"
          fill="#3F3D56"></path>
        <path
          d="M190.933 68.5933H161.31V69.9398H190.933V68.5933Z"
          fill="#3F3D56"></path>
        <path
          d="M190.933 72.0942H161.31V73.4407H190.933V72.0942Z"
          fill="#3F3D56"></path>
        <path
          d="M177.199 43.5484H172.082V48.6651H177.199V43.5484Z"
          fill="#F2F2F2"></path>
        <path
          d="M173.967 44.8949V51.0888H180.43V44.8949H173.967ZM180.15 50.8201H174.248V45.1636H180.15V50.8201Z"
          fill="#3F3D56"></path>
        <path
          opacity="0.1"
          d="M196.589 101.788V109.8C196.589 111.37 195.966 112.876 194.858 113.986C193.75 115.096 192.246 115.72 190.678 115.721H161.565C159.997 115.72 158.494 115.096 157.386 113.986C156.277 112.876 155.655 111.37 155.655 109.8V69.4012L180.183 88.8071L180.603 89.1392L185.165 92.7479L185.591 93.0863L196.589 101.788Z"
          fill="black"></path>
        <path
          d="M44.396 54H20.604C19.1691 54 18 52.8559 18 51.4517V31.5483C18 30.1441 19.1691 29 20.604 29H44.396C45.8309 29 47 30.1441 47 31.5483V51.4517C47 52.8559 45.8309 54 44.396 54ZM20.604 29.7805C19.6079 29.7805 18.8008 30.5735 18.8008 31.5451V51.4486C18.8008 52.4234 19.6111 53.2133 20.604 53.2133H44.396C45.3921 53.2133 46.1992 52.4203 46.1992 51.4486V31.5451C46.1992 30.5703 45.3889 29.7805 44.396 29.7805H20.604Z"
          fill="#D7D7D8"></path>
        <path
          d="M76.396 54H52.604C51.1691 54 50 52.8559 50 51.4517V31.5483C50 30.1441 51.1691 29 52.604 29H76.396C77.8309 29 79 30.1441 79 31.5483V51.4517C79 52.8559 77.8309 54 76.396 54ZM52.604 29.7805C51.6079 29.7805 50.8008 30.5735 50.8008 31.5451V51.4486C50.8008 52.4234 51.6111 53.2133 52.604 53.2133H76.396C77.3921 53.2133 78.1992 52.4203 78.1992 51.4486V31.5451C78.1992 30.5703 77.3889 29.7805 76.396 29.7805H52.604Z"
          fill="#D7D7D8"></path>
        <path
          d="M108.486 54H85.5142C84.1288 54 83 52.8559 83 51.4517V31.5483C83 30.1441 84.1288 29 85.5142 29H108.486C109.871 29 111 30.1441 111 31.5483V51.4517C111 52.8559 109.871 54 108.486 54ZM85.5142 29.7805C84.5525 29.7805 83.7731 30.5735 83.7731 31.5451V51.4486C83.7731 52.4234 84.5556 53.2133 85.5142 53.2133H108.486C109.448 53.2133 110.227 52.4203 110.227 51.4486V31.5451C110.227 30.5703 109.444 29.7805 108.486 29.7805H85.5142Z"
          fill="#D7D7D8"></path>
        <path
          d="M108.486 86H85.5142C84.1288 86 83 84.8559 83 83.4517V63.5483C83 62.1441 84.1288 61 85.5142 61H108.486C109.871 61 111 62.1441 111 63.5483V83.4517C111 84.8559 109.871 86 108.486 86ZM85.5142 61.7805C84.5525 61.7805 83.7731 62.5735 83.7731 63.5451V83.4486C83.7731 84.4234 84.5556 85.2133 85.5142 85.2133H108.486C109.448 85.2133 110.227 84.4203 110.227 83.4486V63.5451C110.227 62.5703 109.444 61.7805 108.486 61.7805H85.5142Z"
          fill="#D7D7D8"></path>
        <path
          d="M44.396 86H20.604C19.1691 86 18 84.8559 18 83.4517V63.5483C18 62.1441 19.1691 61 20.604 61H44.396C45.8309 61 47 62.1441 47 63.5483V83.4517C47 84.8559 45.8309 86 44.396 86ZM20.604 61.7805C19.6079 61.7805 18.8008 62.5735 18.8008 63.5451V83.4486C18.8008 84.4234 19.6111 85.2133 20.604 85.2133H44.396C45.3921 85.2133 46.1992 84.4203 46.1992 83.4486V63.5451C46.1992 62.5703 45.3889 61.7805 44.396 61.7805H20.604Z"
          fill="#D7D7D8"></path>
        <path
          d="M76.396 86H52.604C51.1691 86 50 84.8559 50 83.4517V63.5483C50 62.1441 51.1691 61 52.604 61H76.396C77.8309 61 79 62.1441 79 63.5483V83.4517C79 84.8559 77.8309 86 76.396 86ZM52.604 61.7805C51.6079 61.7805 50.8008 62.5735 50.8008 63.5451V83.4486C50.8008 84.4234 51.6111 85.2133 52.604 85.2133H76.396C77.3921 85.2133 78.1992 84.4203 78.1992 83.4486V63.5451C78.1992 62.5703 77.3889 61.7805 76.396 61.7805H52.604Z"
          fill="#D7D7D8"></path>
        <path
          d="M169.102 101H160.898C160.403 101 160 100.588 160 100.083V92.9174C160 92.4119 160.403 92 160.898 92H169.102C169.597 92 170 92.4119 170 92.9174V100.083C170 100.588 169.597 101 169.102 101ZM160.898 92.281C160.554 92.281 160.276 92.5664 160.276 92.9162V100.081C160.276 100.432 160.556 100.717 160.898 100.717H169.102C169.446 100.717 169.724 100.431 169.724 100.081V92.9162C169.724 92.5653 169.444 92.281 169.102 92.281H160.898Z"
          fill="#D7D7D8"></path>
        <path
          d="M180.102 101H171.898C171.403 101 171 100.588 171 100.083V92.9174C171 92.4119 171.403 92 171.898 92H180.102C180.597 92 181 92.4119 181 92.9174V100.083C181 100.588 180.597 101 180.102 101ZM171.898 92.281C171.554 92.281 171.276 92.5664 171.276 92.9162V100.081C171.276 100.432 171.556 100.717 171.898 100.717H180.102C180.446 100.717 180.724 100.431 180.724 100.081V92.9162C180.724 92.5653 180.444 92.281 180.102 92.281H171.898Z"
          fill="#D7D7D8"></path>
        <path
          d="M192.102 101H183.898C183.403 101 183 100.588 183 100.083V92.9174C183 92.4119 183.403 92 183.898 92H192.102C192.597 92 193 92.4119 193 92.9174V100.083C193 100.588 192.597 101 192.102 101ZM183.898 92.281C183.554 92.281 183.276 92.5664 183.276 92.9162V100.081C183.276 100.432 183.556 100.717 183.898 100.717H192.102C192.446 100.717 192.724 100.431 192.724 100.081V92.9162C192.724 92.5653 192.444 92.281 192.102 92.281H183.898Z"
          fill="#D7D7D8"></path>
        <path
          d="M192.102 112H183.898C183.403 112 183 111.588 183 111.083V103.917C183 103.412 183.403 103 183.898 103H192.102C192.597 103 193 103.412 193 103.917V111.083C193 111.588 192.597 112 192.102 112ZM183.898 103.281C183.554 103.281 183.276 103.566 183.276 103.916V111.081C183.276 111.432 183.556 111.717 183.898 111.717H192.102C192.446 111.717 192.724 111.431 192.724 111.081V103.916C192.724 103.565 192.444 103.281 192.102 103.281H183.898Z"
          fill="#D7D7D8"></path>
        <path
          d="M169.102 112H160.898C160.403 112 160 111.588 160 111.083V103.917C160 103.412 160.403 103 160.898 103H169.102C169.597 103 170 103.412 170 103.917V111.083C170 111.588 169.597 112 169.102 112ZM160.898 103.281C160.554 103.281 160.276 103.566 160.276 103.916V111.081C160.276 111.432 160.556 111.717 160.898 111.717H169.102C169.446 111.717 169.724 111.431 169.724 111.081V103.916C169.724 103.565 169.444 103.281 169.102 103.281H160.898Z"
          fill="#D7D7D8"></path>
        <path
          d="M180.102 112H171.898C171.403 112 171 111.588 171 111.083V103.917C171 103.412 171.403 103 171.898 103H180.102C180.597 103 181 103.412 181 103.917V111.083C181 111.588 180.597 112 180.102 112ZM171.898 103.281C171.554 103.281 171.276 103.566 171.276 103.916V111.081C171.276 111.432 171.556 111.717 171.898 111.717H180.102C180.446 111.717 180.724 111.431 180.724 111.081V103.916C180.724 103.565 180.444 103.281 180.102 103.281H171.898Z"
          fill="#D7D7D8"></path>
      </svg>
    </div>
    <div id="2" class="box-hability">
      <svg
        width="182"
        height="120"
        viewBox="0 0 182 117"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M177.048 117H4.50481C3.32698 116.999 2.19777 116.53 1.36492 115.697C0.532067 114.864 0.063587 113.735 0.0622559 112.557V6.1641C0.0632157 5.30121 0.406416 4.47393 1.01656 3.86376C1.62671 3.25359 2.45397 2.91036 3.31686 2.90936H178.179C179.057 2.91036 179.899 3.25952 180.519 3.88024C181.14 4.50096 181.489 5.34255 181.49 6.22037V112.557C181.489 113.735 181.02 114.864 180.188 115.697C179.355 116.53 178.225 116.999 177.048 117Z"
          fill="#F2F2F2"></path>
        <path
          d="M171.469 111.391H10.6636C8.3064 111.391 6.38867 109.595 6.38867 107.388V14.7391C6.38867 13.1021 7.80976 11.7702 9.55652 11.7702H172.524C174.299 11.7702 175.744 13.1241 175.744 14.788V107.388C175.744 109.595 173.826 111.391 171.469 111.391Z"
          fill="black"></path>
        <path
          d="M181.428 6.71772H0V4.45595C0.00170799 3.27421 0.4721 2.1414 1.30798 1.30603C2.14386 0.470672 3.27696 0.000979884 4.4587 0H176.97C178.151 0.000969919 179.285 0.470658 180.12 1.30602C180.956 2.14139 181.427 3.27421 181.428 4.45595V6.71772Z"
          fill="#3F3D56"></path>
        <path
          d="M8.103 4.51886C8.73994 4.51886 9.25629 4.00252 9.25629 3.36557C9.25629 2.72863 8.73994 2.21228 8.103 2.21228C7.46605 2.21228 6.94971 2.72863 6.94971 3.36557C6.94971 4.00252 7.46605 4.51886 8.103 4.51886Z"
          fill="white"></path>
        <path
          d="M12.4804 4.51886C13.1174 4.51886 13.6337 4.00252 13.6337 3.36557C13.6337 2.72863 13.1174 2.21228 12.4804 2.21228C11.8435 2.21228 11.3271 2.72863 11.3271 3.36557C11.3271 4.00252 11.8435 4.51886 12.4804 4.51886Z"
          fill="white"></path>
        <path
          d="M16.8584 4.51886C17.4953 4.51886 18.0117 4.00252 18.0117 3.36557C18.0117 2.72863 17.4953 2.21228 16.8584 2.21228C16.2214 2.21228 15.7051 2.72863 15.7051 3.36557C15.7051 4.00252 16.2214 4.51886 16.8584 4.51886Z"
          fill="white"></path>
        <path
          d="M87.2514 32.028H55.8013C55.3325 32.028 54.8828 31.8417 54.5512 31.5102C54.2197 31.1786 54.0334 30.7289 54.0334 30.2601C54.0334 29.7912 54.2197 29.3415 54.5512 29.01C54.8828 28.6784 55.3325 28.4922 55.8013 28.4922H87.2514C87.7203 28.4922 88.1699 28.6784 88.5015 29.01C88.833 29.3415 89.0193 29.7912 89.0193 30.2601C89.0193 30.7289 88.833 31.1786 88.5015 31.5102C88.1699 31.8417 87.7203 32.028 87.2514 32.028Z"
          fill="#CCCCCC"></path>
        <path
          d="M126.331 32.028H94.8813C94.4124 32.028 93.9628 31.8417 93.6312 31.5102C93.2997 31.1786 93.1134 30.7289 93.1134 30.2601C93.1134 29.7912 93.2997 29.3415 93.6312 29.01C93.9628 28.6784 94.4124 28.4922 94.8813 28.4922H126.331C126.8 28.4922 127.25 28.6784 127.581 29.01C127.913 29.3415 128.099 29.7912 128.099 30.2601C128.099 30.7289 127.913 31.1786 127.581 31.5102C127.25 31.8417 126.8 32.028 126.331 32.028Z"
          fill="#CCCCCC"></path>
        <path
          d="M126.331 38.7274H71.6195C71.1506 38.7274 70.7009 38.5411 70.3694 38.2096C70.0378 37.878 69.8516 37.4283 69.8516 36.9595C69.8516 36.4906 70.0378 36.0409 70.3694 35.7094C70.7009 35.3778 71.1506 35.1916 71.6195 35.1916H126.331C126.8 35.1916 127.25 35.3778 127.581 35.7094C127.913 36.0409 128.099 36.4906 128.099 36.9595C128.099 37.4283 127.913 37.878 127.581 38.2096C127.25 38.5411 126.8 38.7274 126.331 38.7274Z"
          fill="#CCCCCC"></path>
        <path
          d="M87.2514 25.2355H55.8014C55.3329 25.2349 54.8838 25.0484 54.5527 24.7169C54.2216 24.3854 54.0356 23.9361 54.0356 23.4676C54.0356 22.9991 54.2216 22.5497 54.5527 22.2183C54.8838 21.8868 55.3329 21.7003 55.8014 21.6997H87.2514C87.4838 21.6994 87.7139 21.7449 87.9286 21.8336C88.1434 21.9223 88.3385 22.0525 88.5029 22.2167C88.6673 22.3809 88.7977 22.5759 88.8867 22.7905C88.9757 23.0052 89.0215 23.2352 89.0215 23.4676C89.0215 23.6999 88.9757 23.93 88.8867 24.1446C88.7977 24.3593 88.6673 24.5543 88.5029 24.7184C88.3385 24.8826 88.1434 25.0128 87.9286 25.1015C87.7139 25.1903 87.4838 25.2358 87.2514 25.2355Z"
          fill="#CCCCCC"></path>
        <path
          d="M104.558 25.3285H95.6257C95.1568 25.3285 94.7071 25.1423 94.3756 24.8107C94.044 24.4792 93.8578 24.0295 93.8578 23.5606C93.8578 23.0917 94.044 22.6421 94.3756 22.3105C94.7071 21.979 95.1568 21.7927 95.6257 21.7927H104.558C105.027 21.7927 105.477 21.979 105.808 22.3105C106.14 22.6421 106.326 23.0917 106.326 23.5606C106.326 24.0295 106.14 24.4792 105.808 24.8107C105.477 25.1423 105.027 25.3285 104.558 25.3285Z"
          fill="#CCCCCC"></path>
        <path
          d="M64.7339 38.7274H55.8014C55.3329 38.7268 54.8838 38.5403 54.5527 38.2088C54.2216 37.8773 54.0356 37.428 54.0356 36.9595C54.0356 36.491 54.2216 36.0416 54.5527 35.7101C54.8838 35.3787 55.3329 35.1921 55.8014 35.1916H64.7339C64.9663 35.1913 65.1964 35.2368 65.4111 35.3255C65.6259 35.4142 65.821 35.5444 65.9854 35.7086C66.1498 35.8728 66.2803 36.0678 66.3692 36.2824C66.4582 36.497 66.504 36.7271 66.504 36.9595C66.504 37.1918 66.4582 37.4219 66.3692 37.6365C66.2803 37.8511 66.1498 38.0461 65.9854 38.2103C65.821 38.3745 65.6259 38.5047 65.4111 38.5934C65.1964 38.6821 64.9663 38.7276 64.7339 38.7274Z"
          fill="#CCCCCC"></path>
        <path
          d="M87.2514 94.7621H55.8013C55.3325 94.7621 54.8828 94.5759 54.5512 94.2443C54.2197 93.9128 54.0334 93.4631 54.0334 92.9942C54.0334 92.5253 54.2197 92.0757 54.5512 91.7441C54.8828 91.4126 55.3325 91.2263 55.8013 91.2263H87.2514C87.4836 91.2263 87.7135 91.272 87.928 91.3609C88.1424 91.4497 88.3373 91.58 88.5015 91.7441C88.6657 91.9083 88.7959 92.1032 88.8847 92.3177C88.9736 92.5322 89.0193 92.7621 89.0193 92.9942C89.0193 93.2264 88.9736 93.4563 88.8847 93.6708C88.7959 93.8853 88.6657 94.0802 88.5015 94.2443C88.3373 94.4085 88.1424 94.5387 87.928 94.6275C87.7135 94.7164 87.4836 94.7621 87.2514 94.7621Z"
          fill="#CCCCCC"></path>
        <path
          d="M126.331 94.7621H94.8813C94.4124 94.7621 93.9628 94.5759 93.6312 94.2443C93.2997 93.9128 93.1134 93.4631 93.1134 92.9942C93.1134 92.5253 93.2997 92.0757 93.6312 91.7441C93.9628 91.4126 94.4124 91.2263 94.8813 91.2263H126.331C126.564 91.2263 126.793 91.272 127.008 91.3609C127.222 91.4497 127.417 91.58 127.581 91.7441C127.746 91.9083 127.876 92.1032 127.965 92.3177C128.054 92.5322 128.099 92.7621 128.099 92.9942C128.099 93.2264 128.054 93.4563 127.965 93.6708C127.876 93.8853 127.746 94.0802 127.581 94.2443C127.417 94.4085 127.222 94.5387 127.008 94.6275C126.793 94.7164 126.564 94.7621 126.331 94.7621Z"
          fill="#CCCCCC"></path>
        <path
          d="M126.331 101.462H71.6195C71.1506 101.462 70.7009 101.275 70.3694 100.944C70.0378 100.612 69.8516 100.162 69.8516 99.6936C69.8516 99.2247 70.0378 98.7751 70.3694 98.4435C70.7009 98.112 71.1506 97.9257 71.6195 97.9257H126.331C126.564 97.9254 126.794 97.971 127.009 98.0597C127.223 98.1484 127.418 98.2786 127.583 98.4428C127.747 98.6069 127.878 98.8019 127.967 99.0166C128.056 99.2312 128.101 99.4613 128.101 99.6936C128.101 99.926 128.056 100.156 127.967 100.371C127.878 100.585 127.747 100.78 127.583 100.944C127.418 101.109 127.223 101.239 127.009 101.328C126.794 101.416 126.564 101.462 126.331 101.462Z"
          fill="#CCCCCC"></path>
        <path
          d="M87.2514 87.9696H55.8013C55.3325 87.9696 54.8828 87.7834 54.5512 87.4518C54.2197 87.1203 54.0334 86.6706 54.0334 86.2017C54.0334 85.7329 54.2197 85.2832 54.5512 84.9516C54.8828 84.6201 55.3325 84.4338 55.8013 84.4338H87.2514C87.7203 84.4338 88.1699 84.6201 88.5015 84.9516C88.833 85.2832 89.0193 85.7329 89.0193 86.2017C89.0193 86.6706 88.833 87.1203 88.5015 87.4518C88.1699 87.7834 87.7203 87.9696 87.2514 87.9696Z"
          fill="#CCCCCC"></path>
        <path
          d="M104.558 88.0627H95.6257C95.1568 88.0627 94.7071 87.8764 94.3756 87.5449C94.044 87.2133 93.8578 86.7637 93.8578 86.2948C93.8578 85.8259 94.044 85.3762 94.3756 85.0447C94.7071 84.7131 95.1568 84.5269 95.6257 84.5269H104.558C105.027 84.5269 105.477 84.7131 105.808 85.0447C106.14 85.3762 106.326 85.8259 106.326 86.2948C106.326 86.7637 106.14 87.2133 105.808 87.5449C105.477 87.8764 105.027 88.0627 104.558 88.0627Z"
          fill="#CCCCCC"></path>
        <path
          d="M64.7339 101.462H55.8013C55.3325 101.462 54.8828 101.275 54.5512 100.944C54.2197 100.612 54.0334 100.162 54.0334 99.6936C54.0334 99.2247 54.2197 98.7751 54.5512 98.4435C54.8828 98.112 55.3325 97.9257 55.8013 97.9257H64.7339C64.9662 97.9254 65.1964 97.971 65.4111 98.0597C65.6259 98.1484 65.821 98.2786 65.9854 98.4428C66.1498 98.6069 66.2802 98.8019 66.3692 99.0166C66.4582 99.2312 66.504 99.4613 66.504 99.6936C66.504 99.926 66.4582 100.156 66.3692 100.371C66.2802 100.585 66.1498 100.78 65.9854 100.944C65.821 101.109 65.6259 101.239 65.4111 101.328C65.1964 101.416 64.9662 101.462 64.7339 101.462Z"
          fill="#CCCCCC"></path>
        <path
          d="M79.0377 75.7823C78.3703 75.7838 77.7293 75.5215 77.2543 75.0526L65.4321 63.3783C65.2 63.1491 65.0158 62.8761 64.89 62.5752C64.7642 62.2742 64.6995 61.9512 64.6995 61.6251C64.6995 61.2989 64.7642 60.9759 64.89 60.675C65.0158 60.374 65.2 60.101 65.4321 59.8718L77.2066 48.2446C77.6971 47.7626 78.3579 47.4935 79.0457 47.4956C79.7334 47.4978 80.3925 47.7711 80.88 48.2562C81.368 48.7453 81.642 49.4079 81.642 50.0987C81.642 50.7896 81.368 51.4522 80.8801 51.9413L72.1307 60.6909C71.8581 60.9641 71.705 61.3343 71.705 61.7203C71.705 62.1062 71.8581 62.4764 72.1307 62.7497L80.8326 71.4517C81.188 71.8064 81.4301 72.2585 81.5282 72.7509C81.6263 73.2432 81.5761 73.7537 81.3839 74.2174C81.1916 74.6812 80.866 75.0775 80.4484 75.3561C80.0307 75.6347 79.5397 75.783 79.0377 75.7823Z"
          fill="white"></path>
        <path
          d="M97.8754 75.7823C97.3733 75.783 96.8823 75.6347 96.4647 75.3561C96.047 75.0775 95.7214 74.6812 95.5292 74.2174C95.337 73.7536 95.2867 73.2432 95.3849 72.7509C95.483 72.2585 95.7251 71.8063 96.0804 71.4517L104.782 62.7496C105.055 62.4764 105.208 62.1062 105.208 61.7202C105.208 61.3343 105.055 60.9641 104.782 60.6908L96.033 51.9413C95.791 51.6993 95.5991 51.412 95.4681 51.0959C95.3372 50.7798 95.2698 50.4409 95.2698 50.0987C95.2698 49.7565 95.3372 49.4177 95.4681 49.1015C95.5991 48.7854 95.7911 48.4982 96.033 48.2562C96.5205 47.7711 97.1796 47.4978 97.8674 47.4956C98.5551 47.4934 99.216 47.7626 99.7065 48.2446L111.481 59.8718C111.713 60.101 111.897 60.374 112.023 60.675C112.149 60.9759 112.214 61.2989 112.214 61.625C112.214 61.9512 112.149 62.2742 112.023 62.5751C111.897 62.8761 111.713 63.1491 111.481 63.3783L99.6587 75.0526C99.1837 75.5215 98.5428 75.7837 97.8754 75.7823Z"
          fill="white"></path>
      </svg>
    </div>
  </div>
</section>


<style>
  section {
    background-color: #000000;
  }

  .box-hability {
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .box-hability:hover,
  .box-hability.active {
    transform: scale(1.2);
  }

  .box-hability.inactive {
    transform: scale(0.5);
  }

  .box-hability.inactive:hover {
    transform: scale(0.6);
  }
  
</style>|

<script>
  const boxes = document.querySelectorAll<HTMLElement>(".box-hability");
  const container = document.querySelector(".container");

  document.addEventListener("click", (event) => {
    const clickedElement = event.target as HTMLElement;

    if (!isBox(clickedElement)) {
      resetAllBoxes();
    }
  });

  boxes.forEach((box) => {
    box.addEventListener("click", (event) => {
      event.stopPropagation();

      if (!box.classList.contains("active")) {
        activateBox(box);
      } else {
        resetAllBoxes();
      }
    });

    box.addEventListener("click", () => {
      const activeIndex = Array.from(container.children).indexOf(box);
      const secondBox = container?.children[1] as HTMLElement;
      const lastBox = container?.children[2] as HTMLElement;

      if (activeIndex !== 0) {
        container?.insertBefore(box, secondBox);
      } else {
        container?.insertBefore(box, lastBox);
      }

      resetAllBoxes();
      box.classList.add('active');
    });
  });

  function isBox(element: HTMLElement): boolean {
    return element.classList?.contains("box-hability") ?? false;
  }

  function resetAllBoxes() {
    boxes.forEach((box) => {
      box.classList.remove("active", "inactive");
    });
  }

  function activateBox(selectedBox: HTMLElement) {
    boxes.forEach((box) => {
      if (box !== selectedBox) {
        box.classList.remove("active");
        box.classList.add("inactive");
      }
    });

    selectedBox.classList.remove("inactive");
    selectedBox.classList.add("active");
  }
</script>
