---
import downArrow from "../../public/svg/arrow.svg";

---

<section class="h-screen flex items-center justify-center">
  <div class="absolute left-0 ml-24 z-10">
    <h1>HOLA</h1>
    <h1>BIENVENIDO</h1>
    <h1>A MI MUNDO</h1>
    <h1>CREATIVO</h1>
  </div>
  <a href="#about" class="z-10 absolute bottom-0 mb-4">
    <img src="" alt="">
  </a>
</section>

<style>
  h1 {
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
</style>
